name: Testing docker image build

on:
  pull_request:
    branches: ["master", "main"]

jobs:
  deploy:
    strategy:
      fail-fast: true

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Build docker images
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Testing build jupyterlab-sparglim image
        id: docker_build_jupyterlab_sparglim
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          file: ./docker/Dockerfile.jupyterlab-sparglim
          push: false
          tags: jupyterlab-sparglim:latest
      -
        name: Testing build sparglim-server image
        id: docker_build_sparglim_server
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          file: ./docker/Dockerfile.sparglim-server
          push: false
          tags: sparglim-server:latest
